.catalog {
  &__top {
    display: flex;
    flex-direction: column;
  }
  &__title {
    color: var(--primery);
    padding-top: 20px;
  }
  &__filters {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    gap: 5px;
  }
  &__genre {
    width: 300px;
  }
  &__sort {
    width: 220px;
  }

  &__body {
    padding: 25px 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
  }
}

.skeleton {
  width: 235px;
  height: 350px;
  border-radius: 15px;
  animation: fade 1s linear infinite alternate;
  background-image: linear-gradient(-40deg, #444247, #aca8a8);
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
