.catalog {
  &__top {
    display: flex;
    flex-direction: column;
  }
  &__title {
    color: var(--primery);
    padding-top: 20px;
  }
  &__filters {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    gap: 5px;
  }
  &__genre {
    width: 300px;
  }
  &__sort {
    width: 220px;
  }

  &__body {
    padding: 25px 0 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    @media screen and (max-width: 1440px) {
      grid-template-columns: repeat(5, 1fr);
      justify-items: stretch;
    }
    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (max-width: 769px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 577px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    &-svg {
      animation: rotate-loading 2s infinite;
      width: 100px;
      height: 100px;
    }
  }
}

@keyframes rotate-loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.skeleton {
  width: 235px;
  height: 350px;
  border-radius: 15px;
  animation: fade 1s linear infinite alternate;
  background-image: linear-gradient(-40deg, #444247, #aca8a8);
  @media screen and (max-width: 425px) {
    width: 180px;
    height: 250px;
  }
  @media screen and (max-width: 375px) {
    width: 175px;
  }
  @media screen and (max-width: 320px) {
    width: 150px;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
