.item-info {
  &__background {
    position: relative;
    min-height: 600px;
  }
  &__main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: top 30% right;
    background-size: cover;
    height: 100%;
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      height: 100%;
      background: linear-gradient(
        90deg,
        #000 1.31%,
        rgba(0, 0, 0, 0.01) 80.92%
      );
    }
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      height: 100%;
      background: linear-gradient(
        -360deg,
        #000 1.31%,

        rgba(0, 0, 0, 0.01) 50.92%,
        transparent 51%
      );
    }
    @media screen and (max-width: 769px) {
      background-position: center;
    }
  }
  &__content {
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--primery);
    max-width: 650px;
    font-size: 18px;
    @media screen and (max-width: 577px) {
      max-width: 450px;
      font-size: 16px;
    }
  }

  &__avatar {
    max-width: 200px;
    max-height: 150px;
    @media screen and (max-width: 768px) {
      max-width: 150px;
      max-height: 100px;
    }
    @media screen and (max-width: 375px) {
      max-width: 100px;
      max-height: 100px;
    }
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  &__name {
    font-weight: 600;
    font-size: 26px;
    color: var(--primery);
    padding-bottom: 10px;
  }
  &__stats {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--white-opacity);
    @media screen and (max-width: 769px) {
      flex-wrap: wrap;
    }
  }
  &__rating {
    background-color: rgb(120, 240, 184, 0.5);
    padding: 5px;
    border-radius: 5px;
  }
  &__year {
  }
  &__genre {
    text-transform: capitalize;
  }
  &__country {
  }
  &__time {
  }

  &__short-description {
  }
  &__cast-crew {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__director {
    color: var(--white-opacity);
    display: flex;
    gap: 5px;
  }
  &__list {
    display: flex;
    gap: 5px;
    @media screen and (max-width: 577px) {
      flex-wrap: wrap;
    }
  }
  &__cast {
    color: var(--primery);
    text-decoration: underline;
    &:hover {
      background-color: var(--white-opacity);
      transition: background-color 0.3s ease-in-out;
      cursor: pointer;
    }
  }
  &__btn {
    padding: 10px;
    margin: 10px 10px 0 0;
    border-radius: 5px;
    width: 30%;
    &-watch {
      background-image: linear-gradient(85.23deg, #2253b2, #3b19c5);
      &:hover {
        transform: scale(105%);
        box-shadow: 0px 0 10px 0 #3b19c5;
        transition: transform 0.2s ease-in-out;
      }
    }
    &-trailer {
      background-color: rgba(255, 255, 255, 0.25);
      &:hover {
        transform: scale(105%);
        transition: transform 0.2s ease-in-out;
        box-shadow: 0px 0 10px 0 rgba(255, 255, 255, 0.25);
      }
    }
  }

  &__description {
    border-top: 1px solid var(--primery);
    color: var(--primery);
    max-width: 800px;
    padding-top: 10px;
  }
  &__cast-info {
  }
  &__facts {
    color: aqua;
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

    &-svg {
      animation: rotate-loading 2s infinite;
      width: 100px;
      height: 100px;
    }
  }
}

@keyframes rotate-loading {
  from {
    transform: rotate(0deg);
  }
  50% {
  }

  to {
    transform: rotate(360deg);
  }
}
