.cast {
  position: relative;
  width: 100%;
  overflow: hidden;
  &__body {
    color: var(--primery);
    padding: 20px 0;
  }
  &__title {
  }
  &__row {
  }
  &__item {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 250px;
    font-size: 14px;

    &:hover {
      cursor: pointer;
    }
  }
  &__foto {
    border-radius: 50%;
    width: 135px;
    height: 135px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__name {
    margin-top: 10px;
  }
  &__job {
    color: var(--white-opacity);
  }
}
