.header {
  &__row {
    display: flex;
    align-items: center;
    padding-top: 24px;
    gap: 64px;
    @media screen and (max-width: 769px) {
      gap: 32px;
    }
  }
  &__logo {
    &:hover {
      cursor: pointer;
    }
    @media screen and (max-width: 320px) {
      max-width: 50px;
    }
    &-title {
      @media screen and (max-width: 320px) {
        max-width: 100px;
        display: none;
      }
    }
  }

  &__menu {
    flex: 1 1 auto;
    &-body {
      display: flex;
      gap: 24px;
      color: var(--white-opacity);
      @media screen and (max-width: 577px) {
        gap: 50px;
        justify-content: center;
      }
      @media screen and (max-width: 425px) {
        justify-content: start;
        gap: 20px;
      }
    }
    &-item {
      display: flex;
      gap: 8px;
      &:hover {
        color: var(--white);
        cursor: pointer;
      }
      &:hover > span > svg > path {
        fill: var(--white);
      }
    }
    &-text {
      @media screen and (max-width: 577px) {
        display: none;
      }
    }
  }
  &__search {
    cursor: pointer;

    &:hover > svg > path {
      fill: var(--white);
    }
  }
}

.active {
  color: var(--white);
  svg > path {
    fill: var(--white);
  }
}
