.genre {
  position: relative;
  overflow: hidden;

  &__body {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 70px;
    @media screen and (max-width: 577px) {
      padding-bottom: 35px;
    }
  }

  &__type {
    max-width: 300px;
    color: var(--primery);
    display: flex;
    gap: 10px;
    align-items: center;
  }
  &__swiper {
  }
}
.swiper-button-prev,
.swiper-button-next {
  background-color: var(--background-opacity);
  color: var(--white-opacity);
  padding: 35px 20px;
  &:hover {
    color: var(--white);
  }
}
